<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word-Recite -Mobile-TEST</title>
    <link rel="stylesheet" href="STATIC/css/bootstrap.min.css">
    <link rel="stylesheet" href="STATIC/css/nav.css">
    <link rel="stylesheet" href="STATIC/css/enbook.css">


</head>
<body>

  {include file="public/nav" /}

    <!-- 网页内容区 -->
    <div class="content">

        <div class="container">

          {foreach $list as $vo}
          <div class="row tr-word">
            <table class="table">
            
              <tr>
                <td>
                    <div class="form-group">
                        <input  type="text" class="form-control input-test"  placeholder="En" name="account" value="" autocomplete="off" words="{$vo.en}" wordid="{$vo.id}">
                      </div>
                </td>
              </tr>

              <tr>
                <td>{$vo.trans}</td>
              </tr>

              <tr style="height: 30px;">
                <td  class="answer btn-hidden">
                  <span>
                      <a href="{:url('outbook/en')}?en={$vo.en}" style="font-size: 20px;">{$vo.en}</a>
                  </span>
                  <span  style="font-size: 8px;">
                    ( {php} 
                      echo getClassString($vo['class'],['CEE','CET4','CET6','PEE','UNRATED']);
                      {/php}
                    )
                  </span>
                </td>
              </tr>

              
            </table>
          </div>
          {/foreach}
        </div>

        <div class="container">
          <div class="row col-xs-offset-1" style="margin-bottom: 20px;">
            <span>Mark : </span>
            <span id="correct_input">0</span>
            <span>/ {$pageLenght}</span>
          </div>

          <div class="row col-xs-offset-1" style="margin-bottom: 100px;">
              <span>
                <button class="btn btn-default btn-refresh">try again</button>
              </span>
          </div>

          <div class="row">
            
          </div>
        </div>
    </div>
    <!-- 网页内容区 -->



    <!-- js -->
    <script src="STATIC/js/jquery.min.js"></script>
    <script src="STATIC/js/bootstrap.min.js"></script>
    <script src="STATIC/js/nav.js"></script>
    <script src="STATIC/js/mobiletest.js"></script>
    <!-- js -->
</body>
</html>