<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word-Recite -EN</title>
    <link rel="stylesheet" href="STATIC/css/bootstrap.min.css">
    <link rel="stylesheet" href="STATIC/css/nav.css">
    <link rel="stylesheet" href="STATIC/css/enbook.css">


</head>
<body>

  {include file="public/nav" /}

    <!-- 网页内容区 -->
    <div class="content">
        <div class="container">


            <div class="row">
                  {if condition="($login) and ($account['permit'] > 1)"}
                  <button class="btn" data-toggle="modal" data-target="#panel-WordAddition">
                    NEW
                  </button>

                <!-- 新增单词 -->
                  <div class="modal fade" id="panel-WordAddition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title" >WordAddition</h4>
                              </div>
                              <form action="{:url('enbook/add')}" method="post">
                              <div class="modal-body">

                                <div class="form-group">
                                    <label for="addition-input-en">en</label>
                                    <input type="text" class="form-control" id="WordAddition-input-en" placeholder="en" name="en" value="" autocomplete="off">
                                  </div>

                                  <div class="checkbox-inline div-class">
                                    <label>
                                      <input type="checkbox" name="cee"  value="1" >
                                      CEE
                                    </label>
                                  </div>
                                  <div class="checkbox-inline div-class">
                                    <label>
                                      <input type="checkbox" name="cet4" value="10" checked>
                                      CET-4
                                    </label>
                                  </div>
                                  <div class="checkbox-inline div-class">
                                    <label>
                                      <input type="checkbox" name="cet6" value="100">
                                      CET-6
                                    </label>

                                  </div>
                                  <div class="checkbox-inline div-class">
                                    <label>
                                      <input type="checkbox" name="pee" value="1000">
                                      PEE
                                    </label>

                                  </div>
                                  <div class="checkbox-inline div-class">
                                    <label>
                                      <input type="checkbox" name="unrated" value="10000">
                                      UNRATED
                                    </label>
                                  </div>

                                <div class="form-group">
                                  <label for="addition-input-translation">trans</label>
                                  <input type="text" class="form-control" id="WordAddition-input-translation" placeholder="translation" name="trans" value="" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <label for="addition-input-sentence">sentence</label>
                                    <input type="text" class="form-control" id="WordAddition-input-sentence" placeholder="sentence" name="sentence" value="" autocomplete="off">
                                  </div>


                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                  <button type="submit" class="btn btn-primary">Summit</button>
                              </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                  <!-- 新增单词 -->
                </div>
                {/if}
                
            </div>
     
     
                 
            {php}
            if($find){
            {/php}
            
            <div class="row div-en tr-word">
              <h2>
                {$vo.en}
                <span class="td-audio">
                    <img src="STATIC/img/audio.png" alt="" style="width: 10px;height:10px;">
                    <audio src="STATIC/mp3/{$vo.en}_103.mp3"></audio>
                </span>
                
              </h2>
              
              <span>{$vo.className}</span>


            </div>

            <!-- 单词信息 -->
            <div class="row">
              <table class="table">

                <tr>
                  <td>
                      
                    
                    {$vo.trans}
                  </td>
                </tr>

                <tr>
                  <td>{$vo.sentence}</td>
                </tr>

                
                {if condition="($login)"}
                <tr>
                  <td>SCORE: {$vo.score}</td>
                </tr>
                {/if}

                <tr>
                  <td>
                    
                    
                    {if condition="($login) and ($account['permit'] > 0)"}
                    <button class="btn btn-info" data-toggle="modal" data-target="#panel-WordModification">
                      UPDATE
                    </button>
                    {/if}
                    {if condition="($login)"}
                    <button class="btn btn-success AddScore" wordid="{$vo.id}">
                      +5
                    </button>
                    <button class="btn btn-danger SubtractScore" wordid="{$vo.id}">
                      -5
                    </button>
                    
                    {/if}
                    {if condition="($login) and ($account['permit'] > 0)"}
                    <button class="btn" data-toggle="modal" data-target="#panel-AddToCollect">
                      Collect
                    </button>
                    {/if}
                    

                  </td>
                </tr>

              

              </table>
            </div>
            <!-- 单词信息 -->

              {if condition="($login) and ($account['permit'] > 0)"}
            <!-- 修改单词 -->
            <div class="modal fade" id="panel-WordModification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" >Word-Modification</h4>
                        </div>
                        <form action="{:url('enbook/modify')}" method="post">
                        <div class="modal-body">
                          <input type="hidden" name="id" value="{$vo.id}">
                          <div class="form-group">
                              <label for="addition-input-en">en</label>
                              <input type="text" class="form-control"  id="modifation-input-en" placeholder="en" name="en" value="{$vo.en}" autocomplete="off">
                            </div>

                            <div class="checkbox-inline div-class">
                              <label>
                                <input type="checkbox" name="cee"  value="1" {$vo.class%10==1?'checked':''}>
                                CEE
                              </label>
                            </div>
                            <div class="checkbox-inline div-class">
                              <label>
                                <input type="checkbox" name="cet4" value="10" {$vo.class/10%10==1?'checked':''}>
                                CET-4
                              </label>
                            </div>
                            <div class="checkbox-inline div-class">
                              <label>
                                <input type="checkbox" name="cet6" value="100" {$vo.class/100%10==1?'checked':''}>
                                CET-6
                              </label>

                            </div>
                            <div class="checkbox-inline div-class">
                              <label>
                                <input type="checkbox" name="pee" value="1000" {$vo.class/1000%10==1?'checked':''}>
                                PEE
                              </label>

                            </div>
                            <div class="checkbox-inline div-class">
                              <label>
                                <input type="checkbox" name="unrated" value="10000" {$vo.class/10000%10==1?'checked':''}>
                                UNRATED
                              </label>
                            </div>

              
                          <div class="form-group">
                            <label for="addition-input-translation">trans</label>
                            <input type="text" class="form-control"  id="modifation-input-translation" placeholder="translation" name="trans" value="{$vo.trans}" autocomplete="off">
                          </div>

                          <div class="form-group">
                              <label for="addition-input-sentence">sentence</label>
                              <input type="text" class="form-control" id="modifation-input-sentence" placeholder="sentence" name="sentence" value="{$vo.sentence}" autocomplete="off" >
                            </div>

                          <div class="form-group">
                            <label for="addition-input-link">link</label>
                            <input type="text" class="form-control" id="modifation-input-link" placeholder="link" name="link" value="{$vo.link}" autocomplete="off">
                          </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Summit</button>
                        </div>
                      </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!-- 修改单词 -->

            <!-- 添加到收藏 -->
            <div class="modal fade" id="panel-AddToCollect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" >Add to Collect</h4>
                      </div>
                      
                      {foreach $collects as $collect}
                      <button class="btn btn-info collected" listid="{$collect.id}" wordid="{$vo.id}">
                        {$collect.name}
                      </button>
                      {/foreach}

                  </div><!-- /.modal-content -->
              </div><!-- /.modal -->
          </div>
          <!-- 添加到收藏 -->

              {/if}

            {php}
            }else{
            {/php}

            <div class="row">
              <h2>FIND NOTHING</h2>
            </div>

                {php}
              }
              {/php}

           <!-- 单词关联 -->
           <div class="row">
              <table class="table link-table">
  
  
                {foreach $links as $linkword}
  
                <tr class="tr-word">
                  <td class="td-en">
                    <a href="{:url('outbook/en')}?en={$linkword.en}">{$linkword.en}</a>
                  </td>
                  <td class="td-audio">
                    <img src="STATIC/img/audio.png" alt="" style="width: 10px;height:10px;">
                    <audio src="STATIC/mp3/{$linkword.en}_103.mp3"></audio>
                  </td>
  
                  <td class="td-trans" sentence="{$linkword.sentence}" trans="{$linkword.trans}">
                      {$linkword.trans}
                  </td>
                </tr>
  
                {/foreach}
  
              </table>
            </div>
            <!-- 单词关联 -->

        </div>
    </div>
    <!-- 网页内容区 -->



    <!-- {include file="public/footer" /} -->

    <!-- js -->
    <script src="STATIC/js/jquery.min.js"></script>
    <script src="STATIC/js/bootstrap.min.js"></script>
    <script src="STATIC/js/nav.js"></script>
    <script src="STATIC/js/en.js"></script>
    <!-- js -->
</body>
</html>