<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word-Recite</title>
    <link rel="stylesheet" href="STATIC/css/bootstrap.min.css">
    <link rel="stylesheet" href="STATIC/css/nav.css">
    <link rel="stylesheet" href="STATIC/css/enbook.css">


</head>
<body>

  {include file="public/nav" /}

    <!-- 网页内容区 -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="left col-md-7">
                        <!-- 每日一句 -->
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="row">
                                <h4 id="today-title">
                                    
                                </h4>
                            </div>
                           <div class="row">
                               <div id="today-sentence">

                               </div>
                           </div>
                        </div>
                        <!-- 每日一句 -->
                        <!-- 通知 -->
                        <div class="row">
                                <div class="row">
                                    <h2>Notification</h2>
                                </div>
                                <div class="row">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                测试模块新增了首字母提示！
                                            </td>
                                            <td>
                                                    2019/10/27
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                新增了短语和收藏单词模块！
                                            </td>
                                            <td>
                                                    2019/10/25
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                    适配手机的Test模块和Memorize模块新上线！
                                            </td>
                                            <td>
                                                2019/10/01
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                    当前读音为百度合成音，个别单词发音不标准。
                                            </td>
                                            <td>
                                                2019/09/20
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                        </div>
                        <!-- 通知 -->

                        <div class="row">
                            
                        </div>

                    </div>
                    
                    <div class="right col-md-offset-2 col-md-3">
                            <div class="row">
                                    <div class="row">
                                        <h3>
                                            Popular
                                        </h3>
                                    </div>
                                        <table class="table">
                                            {foreach $PopularList as $w }
                                            <tr class="tr-word">
                                                <td>
                                                    <a href="{:url('outbook/en')}?en={$w.en}" title="
                                                    {php}
                                                    echo getClassString($w['class'],['CEE','CET4','CET6','PEE','UNRATED']);
                                                    {/php}
                                                    ">{$w.en}</a>
                                                </td>   
                                                <td class="td-audio">
                                                                <img src="STATIC/img/audio.png" alt="" style="width: 10px;height:10px;">
                                                                <audio src="STATIC/mp3/{$w.en}_103.mp3"></audio>
                                                </td>
                                                <td>
                                                    {$w.score}
                                                </td>
                                            </tr>
                                            {/foreach}
                                        </table>
                                </div>
                
                            <div class="row">
                                <div class="row">
                                    <h3>
                                        User
                                    </h3>
                                </div>
                                    <table class="table">
                
                                        <tr>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Score</th>
                                        </tr>
                                            {foreach $UserHistoryList as $userh }
                                        <tr>
                                            <td>{$userh.name}</td>   
                                            <td>{$userh.date}</td>
                                            <td>{$userh.score}</td>
                                        </tr>
                                        {/foreach}
                                    </table>
                            </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
    <!-- 网页内容区 -->


    <!-- js -->
    <script src="STATIC/js/jquery.min.js"></script>
    <script src="STATIC/js/bootstrap.min.js"></script>
    <script src="STATIC/js/nav.js"></script>
    <script src="STATIC/js/en.js"></script>
    <script>
        //金山每日一句接口
        $.getJSON("https://api.ooopn.com/ciba/api.php",
            function(data){
                if(data["code"]=="200")
                {
                    $("#today-sentence").text(data["ciba"]);
                    $("#today-title").text(data["ciba-en"]);
                }
                
                
        });
    </script>
    <!-- js -->
</body>
</html>