<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word-Recite -Setting</title>
    <link rel="stylesheet" href="STATIC/css/bootstrap.min.css">
    <link rel="stylesheet" href="STATIC/css/nav.css">
    <link rel="stylesheet" href="STATIC/css/enbook.css">


</head>
<body>

  {include file="public/nav" /}

    <!-- 网页内容区 -->
    <div class="content">
        <div class="container">

            <div class="row">
                <h2>Setting</h2>
            </div>
            <div class="row col-md-6">
                    <table class="table">
                        <tr>                            
                            <td>Account : {$account.account}</td>
                        </tr>
                        <tr>                        
                            <td>Name : {$account.name}</td>
                        </tr>
                        <tr>                            
                            <td>Level : 
                                    {$account.levelName}
                            </td>
                        </tr>
                        <tr>                         
                            <td>Last-time : ****/**/**</td>
                        </tr>

                        <tr>
                            <td>
                                      <button class="btn btn-success" data-toggle="modal"
                                      data-target="#panel-ModifySetting">UPDATE</button>
                                
                            </td>
                        </tr>
         
                        
            
                    </table>
            </div>

             <!-- 修改信息 -->
    <div class="modal fade" id="panel-ModifySetting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >User-Setting</h4>
                </div>
                <form action="{:url('account/modify')}" method="post">
                <div class="modal-body">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="name" name="name" value="{$account['name']}" autocomplete="off">
                    </div>
  
                    <div class="checkbox-inline div-class">
                      <label>
                        <input type="checkbox" name="cee"  value="1" {$account.level%10==1?'checked':''}>
                        CEE
                      </label>
                    </div>
                    <div class="checkbox-inline div-class">
                      <label>
                        <input type="checkbox" name="cet4" value="10" {$account.level/10%10==1?'checked':''}>
                        CET-4
                      </label>
                    </div>
                    <div class="checkbox-inline div-class">
                      <label>
                        <input type="checkbox" name="cet6" value="100" {$account.level/100%10==1?'checked':''}>
                        CET-6
                      </label>

                    </div>
                    <div class="checkbox-inline div-class">
                      <label>
                        <input type="checkbox" name="pee" value="1000" {$account.level/1000%10==1?'checked':''}>
                        PEE
                      </label>

                    </div>
                    <div class="checkbox-inline div-class">
                      <label>
                        <input type="checkbox" name="unrated" value="10000" {$account.level/10000%10==1?'checked':''}>
                        SUMMIT
                      </label>
                    </div>
  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Summit</button>
                </div>
              </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
       <!-- 修改信息 -->

           

        </div>
    </div>
    <!-- 网页内容区 -->


    {include file="public/footer" /}

    <!-- js -->
    <script src="STATIC/js/jquery.min.js"></script>
    <script src="STATIC/js/bootstrap.min.js"></script>
    <script src="STATIC/js/nav.js"></script>
    <!-- js -->
</body>
</html>