<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word-Recite -Summary</title>
    <link rel="stylesheet" href="STATIC/css/bootstrap.min.css">
    <link rel="stylesheet" href="STATIC/css/nav.css">
    <link rel="stylesheet" href="STATIC/css/enbook.css">


</head>
<body>

  {include file="public/nav" /}

    <!-- 网页内容区 -->
    <div class="content">
        <div class="container">

            <div class="row">
                <h2>Summary</h2>
            </div>
            <div class="row">
                    <table class="table">

                            <tr>
                                <td>
                                   Total Words:
                                </td>
                                <td>
                                    <span>{$statistic["total"]}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Total CEE Words
                                </td>
                                <td>
                                    <span>
                                        {$statistic["already_CEE"]}
                                    </span>
                                    <span>/ {$statistic["CEE"]}</span>
                                    
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Total CET-4 Words
                                </td>
                                <td>
                                    <span>
                                        {$statistic["already_CET4"]}
                                    </span>
                                    <span>/ {$statistic["CET4"]}</span>
                                    
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Total CET-6 Words
                                </td>
                                <td>
                                    <span>{$statistic["already_CET6"]}</span>
                                    <span>/ {$statistic["CET6"]}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total PEE Words
                                </td>
                                <td>
                                    <span>{$statistic["already_PEE"]}</span>
                                    <span>/ {$statistic["PEE"]}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total SUMMIT Words
                                </td>
                                <td>
                                    <span>{$statistic["already_Summit"]}</span>
                                    <span>/ {$statistic["SUMMIT"]}</span>
                                </td>
                            </tr>
                            
            
                            <tr>
                                <td>
                                    正在进行单词数：
                                </td>
                                <td>
                                    {$statistic.already_Recite}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    完成度：
                                </td>
                                <td>
                                   {$statistic.recite}%
                                </td>
                            </tr>
            
            
                        </table>
            </div>

           

        </div>
    </div>
    <!-- 网页内容区 -->


    {include file="public/footer" /}

    <!-- js -->
    <script src="STATIC/js/jquery.min.js"></script>
    <script src="STATIC/js/bootstrap.min.js"></script>
    <script src="STATIC/js/nav.js"></script>
    <script src="STATIC/js/test.js"></script>
    <!-- js -->
</body>
</html>