    <!-- 尾部 -->
    <div class="footer">
        <div class="container">
          <ul class="row">
            <li class="col-sm-3 text-center">
              <h5>关注我们</h5>
              <p><img src="/foodweb/static/images/web/二维码.jpg" width="80px" alt="二维码"></p>
            </li>
            <li class="col-sm-3 text-center">
              <h5>联系我们</h5>
              <p>客服电话(上海): 909-606-6688</p>
              <p>客服电话(广州): 1300-999-990</p>
            </li>
            <li class="col-sm-3 text-center">
              <h5>招聘中心</h5>
              <p>招商电话: +6144000000</p>
              <p>Email: 825833848@qq.com</p>
            </li>
            <li class="col-sm-3 text-center">
              <h5>分享中心</h5>
              <p>
                <a href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-trigger="hover">
                  <img src="/foodweb/static/images/web/wechat.png" width="40px" alt="微信分享">
                </a>
                <a href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-trigger="hover">
                  <img src="/foodweb/static/images/web/QQ.png" width="40px" alt="QQ分享">
                </a>
                <a href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-trigger="hover">
                  <img src="/foodweb/static/images/web/微博.png" width="40px" alt="微博分享">
                </a>
              </p>
            </li>
            <div class="clearfix"></div>
            <p class="text-center">Copyright © 2018.<strong>CANBE</strong> All rights reserved 粤ICP证666号</p>
          </ul>
      
        </div>
      </div>
    <!-- 尾部 -->
        


                  